body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #5e5e5e;
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  font-family: "Roboto", sans-serif;
}
.header__top {
  background-color: #303030;
}
.header__contact::after {
  content: '';
  clear: both;
  display: block;
}
.header__phone, .header__email {
  display: inline-block;
  line-height: 45px;
  letter-spacing: .25px;
  color: #cbcacb;
  position: relative;
}
.header__phone {
  padding: 0 30px 0 20px;
}
.header__phone::before {
  content: "\f095";
  font-family: "icons";
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__email {
  padding: 0 0 0 24px;
}
.header__email::before {
  content: "\f003";
  font-family: "icons";
  position: absolute;
  left: 0;
  color: #ffc222;
}
.header__button {
  float: right;
  line-height: 36px;
  padding: 5px 20px 5px 50px;
  font-size: 16px;
  color: #1b1b1b;
  background-color: #ffc222;
  position: relative;
}
.header__button::before {
  content: "\f0b1";
  font-family: "icons";
  position: absolute;
  left: 22px;
  color: #1b1b1b;
}
.header__content {
  padding: 34px 0 24px;
}
.header__content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__list .nav__link {
  display: inline-block;
  padding-left: 13px;
}
.header .nav__list .nav__link:first-child {
  padding-left: 0;
}
.header .nav__list .nav__link a {
  font-size: 16px;
  color: #323232;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0 16px;
  transition: all .3s ease-in-out 0s;
}
.header .nav__list .nav__link a:hover {
  border-color: #ffc222;
}
.header__burger, .header__nav_mobile {
  display: none;
}

#modal {
  display: none;
}

@media screen and (max-width: 700px) {
  .header__contact {
    text-align: center;
  }
  .header__nav {
    display: none;
  }
  .header__button {
    float: none;
    display: block;
  }
  .header__button::before {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    z-index: 100;
    width: 30px;
    height: 15px;
    transition: all .3s ease-in-out 0s;
  }
  .header__burger::before, .header__burger::after {
    content: '';
    background-color: #60606e;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger span {
    position: absolute;
    top: 6.5px;
    left: 0;
    background-color: #60606e;
    width: 100%;
    height: 2px;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 7px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 7px;
  }
  .header__nav_mobile {
    display: block;
    position: fixed;
    top: 91px;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    padding: 50px 35px 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform .3s linear;
  }
  .header__nav_mobile.active {
    transform: translateX(0);
  }
  .header__nav_mobile ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__nav_mobile li {
    margin-bottom: 30px;
  }
  .header__nav_mobile li:last-child {
    margin: 0;
  }
  .header__nav_mobile .nav__link {
    color: #1b1b1b;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
  }
}
@media screen and (max-width: 400px) {
  .header__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__phone {
    padding-right: 0;
  }
  .header__button {
    display: block;
    width: 100%;
  }
  .header__button::before {
    display: block;
  }
  .header__nav_mobile {
    top: 136px;
  }
}
